<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @item.task %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @item.duedate %>
</p>

<p>
  <strong>Done:</strong>
  <%= @item.done %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
